.answer {
  display: flex;
  flex-direction: column;
  margin-top: $s-size;
}

.answer__title {
  color: $lightest;
  border-left: 0.3rem solid darken($lightest, 20%);
  border-right: 0.3rem solid darken($lightest, 20%);
  padding-left: $m-size;
  text-align: center;
  margin-bottom: $m-size;
  text-transform: capitalize;
}

.answer__image{
  height: 30rem;
  margin-bottom: $m-size;
}

.answer__btn {
  background-color: $third_dark;
  height: $xl-size;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
}

@media(min-width: $desktop-breakpoint) {
  .answer {
    margin-top: $m-size;
  }

  .answer__title {
    margin-bottom: $l-size;
  }

  .answer__image{
    height: 40rem;
    margin-bottom: $m-size;
  }
}