#root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 60rem;
  // height: calc(100% - #{$footerHeight} - #{$headerHeight});
  height: 100%;
  position: relative;
  padding: 0 $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .container {
    margin: 2rem auto;
  }
}