.footer {
  width: 100%;
  height: $footerHeight;
  display: flex;
}

.footer__message {
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  color: $second_light;
  align-items: center;
  font-size: 1.3rem;
}

.message--red {
  color: red;
}

.message__name {
  text-decoration: underline;
  letter-spacing: 0.15rem;
  color: $second_light;
  font-weight: 500;
}

@media (min-width: $desktop-breakpoint) {
  .footer {
    padding-top: 0rem;
  }

  .footer__message {
    font-size: $m-size;
  }
}
