.questionForm {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.questionForm__title {
  color: $sixth_light;
  font-size: $xl-size;
}

.questionForm__form {
  display: flex;
  justify-content: space-between;
}

.questionForm__form__input {
  flex-grow: 1;
  background-color: $second_dark;
  border: none;
  color: #ffffff;
  padding: $s-size;
}

.questionForm__form__btn {
  background-color: $fourth_dark;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: $s-size;
  margin-left: $m-size;
}