.questionForm {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.questionForm__title {
  color: $sixth_light;
  font-size: 2.5rem;
}

.questionForm__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.questionForm__form__input {
  flex-grow: 1;
  background-color: $second_dark;
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  padding: $s-size;
}

.questionForm__form__input:focus {
  outline: none;
}

.questionForm__form__btn {
  background-color: $fourth_dark;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 500;
  padding: $s-size;
  margin: $m-size 0 1.5rem 0;
}

.questionForm__form__btn:active,
.questionForm__form__btn:focus {
  outline: none;
}

@media (min-width: $desktop-breakpoint) {
  .questionForm {
    margin: 0 0 $xl-size 0;
  }
  .questionForm__title {
    font-size: $xl-size;
  }

  .questionForm__form {
    flex-direction: row;
  }

  .questionForm__form__btn {
    margin: 0 0 0 $m-size;
  }
}
