.questionForm {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.questionForm__title {
  color: $sixth_light;
  font-size: $l-size;
}

.questionForm__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.questionForm__form__input {
  flex-grow: 1;
  background-color: $second_dark;
  border: none;
  color: #ffffff;
  padding: $s-size;
}

.questionForm__form__btn {
  background-color: $fourth_dark;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: $s-size;
  margin: $m-size 0 0 0;
}

@media (min-width: $desktop-breakpoint) {
  .questionForm__title {
    font-size: $xl-size;
  }

  .questionForm__form {
    flex-direction: row;
  }

  .questionForm__form__btn {
    margin: 0 0 0 $m-size;
  }
}