.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal--invisible {
  visibility: hidden;
}

.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: $fourth_light;
  color: #ffffff;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  word-break: break-all;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}

.modal__button {
  background-color: $third_dark;
  border: none;
  width: 10rem;
  color: #ffffff;
  font-weight: 500;
  padding: $s-size;
  margin: 0 auto;
}