{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "prettier/@typescript-eslint", "prettier/react", "plugin:@typescript-eslint/recommended", "plugin:react/recommended"],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", "tsx"]
      }
    ],
    "react/jsx-curly-spacing": "off",
    "react/button-has-type": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-uses-vars": "warn",
    "react/display-name": "warn",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/no-array-index-key": "off",
    "react/prop-types": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/named": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "arrow-parens": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "quotes": ["error", "double"],
    "linebreak-style": "off",
    "consistent-return": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "comma-dangle": "off",
    "no-nested-ternary": "off",
    "prefer-destructuring": "off",
    "eqeqeq": "off",
    "no-unused-vars": "error",
    "no-console": "warn",
    "no-unexpected-multiline": "warn",
    "no-plusplus": "off",
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true
      }
    ],
    "import/unambiguous": "off",
    "prefer-promise-reject-errors": "off",
    "no-useless-escape": "off",
    "react/jsx-fragments": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  }
}
