* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: $darkest;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}