// Colors
$darkest: #0A2F51;
$second_dark: #0E4D64;
$third_dark: #137177;
$fourth_dark: #188977;
$middle_color: #1D9A6C;
$sixth_light: #39A96B;
$fifth_light: #56B870;
$fourth_light: #74C67A;
$third_light: #99D492;
$second_light: #BFE1B0;
$lightest: #DEEDCF;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;