// Colors
$darkest: #0A2F51;
$second_dark: #0E4D64;
$third_dark: #137177;
$fourth_dark: #188977;
$middle_color: #1D9A6C;
$sixth_light: #39A96B;
$fifth_light: #56B870;
$fourth_light: #74C67A;
$third_light: #99D492;
$second_light: #BFE1B0;
$lightest: #DEEDCF;

//Header / Footer heights
$headerHeight: 5rem;
$footerHeight: 6rem;

//Fonts
$roboto: 'Roboto Cn', sans-serif;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.0rem;
$xl-size: 4.7rem;
$desktop-breakpoint: 45rem;